# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL=postgresql://neondb_owner:npg_trz3MLZ1GnxJ@ep-icy-leaf-a27joqyt-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ajiboseibrahim12@gmail.com
SMTP_PASS="tuce yhlz evef rpmy"
JWT_SECRET=nkehdjk$5kw03o3kmw@sdkdmd
BETTER_AUTH_SECRET=jisd833dde%4
NODE_ENV=development
MINIO_ACCESS_KEY=n1T1VrB8xTds0vId
MINIO_SECRET_KEY=PWIkUCpLvp8MTPVDpEwRw7LDTGxA5Qxc
MINIO_BUCKET="opentask-dev"
MINIO_USE_SSL=true
MINIO_ENDPOINT="https://minio-s3.apps.ikem.dev"
BETTER_AUTH_URL=http://localhost:3000


RESEND_API_KEY=re_ZpPpdNDj_g86PSGeRGatievzV4YoGRr9K
EMAIL_FROM=OpenTask <no-reply@kyroos.com>

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
